*{
    font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
    color: rgb(0, 73, 0);
}

h3{
    color:maroon;
}

ul{
    color: rgb(0, 95, 95);
}

.description {
    font-size: 1.2rem;
    text-shadow: 1px 1px 0px green;
}